Antes de nada, debemos importar todas las librerias y funciones necesarias para ejecutar el algoritmo

In [1]:
import aux_functions
import sklearn
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

Con todo lo necesario ya importado, podemos pasar a procesar y codificar convenientemente los datos de entrenamiento y de prueba:

In [3]:
train_codificado, test_codificado = aux_functions.load_and_process_data('adult_train.csv', 'adult_test.csv')

Datos de entrenamiento

In [4]:
train_codificado.head(10)

   0      1   2   3   4   5   6   7   8   9   10  11  12
0  39   2174   0  40   6   9   4   0   1   4   1  38   0
1  50      0   0  13   5   9   2   3   0   4   1  38   0
2  38      0   0  40   3  11   0   5   1   4   1  38   0
3  53      0   0  40   3   1   2   5   0   2   1  38   0
4  28      0   0  40   3   9   2   9   5   2   0   4   0
5  37      0   0  40   3  12   2   3   5   4   0  38   0
6  49      0   0  16   3   6   3   7   1   2   0  22   0
7  52      0   0  45   5  11   2   3   0   4   1  38   1
8  31  14084   0  50   3  12   4   9   1   4   0  38   1
9  42   5178   0  40   3   9   2   3   0   4   1  38   1

Datos de prueba

In [5]:
test_codificado.head(10)

   0     1   2   3   4   5   6   7   8   9   10  11  12
0  25     0   0  40   3   1   4   6   3   2   1  38   0
1  38     0   0  50   3  11   2   4   0   4   1  38   0
2  28     0   0  40   1   7   2  10   0   4   1  38   1
3  44  7688   0  40   3  15   2   6   0   2   1  38   1
4  18     0   0  30   3  15   4   9   3   4   0  38   0
5  34     0   0  30   3   0   4   7   1   4   1  38   0
6  29     0   0  40   3  11   4   9   4   2   1  38   0
7  63  3103   0  32   5  14   2   9   0   4   1  38   1
8  24     0   0  40   3  15   4   7   4   4   0  38   0
9  55     0   0  10   3   5   2   2   0   4   1  38   0

Ahora, vamos a probar el algoritmo de división de datos, para tener dos conjuntos de datos con los que trabajar, que serán: -El conjunto de los ejemplos con sus respectivas características -El conjunto de las clasificaciones de los respectivos ejemplos.
Con el conjunto de ejemplos con las características. calculamos el numero de columnas elegidas ordenadas.

In [6]:
data_divided, labels = aux_functions.divide_data(train_codificado)
aux = aux_functions.random_subspace(data_divided, 0.8)
aux

[0, 1, 2, 4, 5, 6, 7, 8, 9]

En esta función se realiza un for desde 0 hasta el numero de repeticiones, dónde se van seleccionando los valores de las listas que se le pasa como parámetro para realizar la función Meta Algoritmo, el número de veces que indique la variable repeticiones.
Una vez acabado el bucle y guardadas las tasas en dos listas, las convertimos en un DataFrame y se realiza la media de los valores de sus columnas.

In [18]:
def repeticionesMetaAlgorithm(repeticiones, training_file, test_file, n_trees, n_columns, l_max_depth):
    promedio_tasa_acierto = []
    promedio_tasa_acierto_balanceado = []
    for i in range(repeticiones):
        n_tasa_acierto, n_tasa_acierto_balanceado = aux_functions.meta_algorithm(training_file, test_file, n_trees, n_columns, l_max_depth)
        promedio_tasa_acierto.append(n_tasa_acierto)
        promedio_tasa_acierto_balanceado.append(n_tasa_acierto_balanceado)
        
    promedio_tasa_acierto = pd.DataFrame(promedio_tasa_acierto)
    media = promedio_tasa_acierto.mean(axis=1)[0]
    
    promedio_tasa_acierto_balanceado = pd.DataFrame(promedio_tasa_acierto_balanceado)
    media_balanceada = promedio_tasa_acierto_balanceado.mean(axis=1)[0]
        
    return media, media_balanceada

Inicializamos los valores que irán en la función que realizará repeticiones del Meta Algoritmo y llevará a cabo una media de los valores de la tasa de acierto y tasa de acierto balanceado

In [13]:
l_n_trees = "25,25,25,25".split(",")

In [14]:
print(l_n_trees)

['25', '25', '25', '25']

In [15]:
l_n_columns = "0.8,0.8,0.8,0.8".split(",")

In [16]:
print(l_n_columns)

['0.8', '0.8', '0.8', '0.8']

In [3]:
media, media_balanceada = aux_functions.repeticionesMetaAlgorithm(4, 'adult_train.csv', 'adult_test.csv', 25, 0.8, None)

Para el modelo con parámetros:
 Conjunto de entrenamiento: adult_train.csv
 Conjunto de prueba: adult_test.csv
 Árboles a entrenar: 25
 Porcentaje de columnas a seleccionar: 0.8
 Máxima profundidad de los árboles: None
Hemos conseguido una tasa de aciertos del: 0.8024691358024691
Y hemos conseguido una tasa de aciertos balanceada del: 0.5891767612803427

TypeError: 'NoneType' object is not iterable

Aqui se observa la media de la tasa de acierto

In [19]:
media

NameError: name 'media' is not defined

Y aqui la tasa de acierto balanceada

In [20]:
media_balanceada

NameError: name 'media_balanceada' is not defined