Antes de nada, debemos importar todas las librerias y funciones necesarias para ejecutar el algoritmo

In [1]:
import aux_functions
import sklearn
import numpy as np
import pandas as pd
from sklearn import tree

Con todo lo necesario ya importado, podemos pasar a procesar y codificar convenientemente los datos:

In [2]:
processed_data = aux_functions.load_and_process_data('adult_train.csv')
print('\n')
processed_data.head(10)

   0    1   2   3   4   5   6   7   8   9   10  11  12
0  22   25   0  39   6   9   4   0   1   4   1  38   0
1  33    0   0  12   5   9   2   3   0   4   1  38   0
2  21    0   0  39   3  11   0   5   1   4   1  38   0
3  36    0   0  39   3   1   2   5   0   2   1  38   0
4  11    0   0  39   3   9   2   9   5   2   0   4   0
5  20    0   0  39   3  12   2   3   5   4   0  38   0
6  32    0   0  15   3   6   3   7   1   2   0  22   0
7  35    0   0  44   5  11   2   3   0   4   1  38   1
8  14  105   0  49   3  12   4   9   1   4   0  38   1
9  25   79   0  39   3   9   2   3   0   4   1  38   1

In [3]:
columnas = aux_functions.random_subspace(processed_data, 0.5)
columnas

[0, 10, 7, 6, 8, 3]

In [4]:
columnas[4]

8

In [5]:
#aux_functions.select_columns(processed_data, columnas[4])

In [6]:
len(processed_data)

32561

In [7]:
processed_data.tail(10)

       0    1   2   3   4   5   6   7   8   9   10  11  12
32551  15    0   0  39   3   0   2   5   0   0   1  38   0
32552  26    0   0  44   3   8   2  11   0   4   1  38   0
32553  15    0   0  10   3  12   4  12   1   1   1  35   0
32554  36    0   0  39   3  12   2   3   0   4   1  38   1
32555   5    0   0  39   3  15   4  10   1   4   1  38   0
32556  10    0   0  37   3   7   2  12   5   4   0  38   0
32557  23    0   0  39   3  11   2   6   0   4   1  38   1
32558  41    0   0  39   3  11   6   0   4   4   0  38   0
32559   5    0   0  19   3  11   4   0   3   4   1  38   0
32560  35  108   0  39   4  11   2   3   5   4   0  38   1

In [8]:
processed_data.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [9]:
unique_unprocessed_values = np.unique('adult_train.csv')
print(unique_unprocessed_values)

['adult_train.csv']

In [10]:
bootstrap_indices = np.random.randint(low=0, high=len(processed_data), size=len(processed_data))
print(bootstrap_indices)

[ 9602 13103 25145 ...  7265 26102 16471]

In [11]:
df_bootstrapped = processed_data.iloc[bootstrap_indices]
df_bootstrapped.head(10)
len(df_bootstrapped)

32561

In [12]:
unique_values = np.unique(df_bootstrapped)
len(unique_values)

118

Con los datos ya procesados y codificados, podemos pasar a probar el algoritmo de Bootstrapping implementado

In [13]:
bootstrapped_data = aux_functions.bootstrapping(processed_data)
#print('Aquí podemos ver los datos tras ser modificados por el algoritmo de Bootstrapping')
#print('El tamaño del conjunto de datos es: {}'.format(len(bootstrapped_data)))
#bootstrapped_data.head(10)

In [14]:
unique_values = np.unique(bootstrapped_data)

In [15]:
potential_splits = unique_values

In [16]:
print(potential_splits)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118]

Ahora, vamos a probar el algoritmo de división de datos, para tener dos conjuntos de datos con los que trabajar, que serán:
    -El conjunto de los ejemplos con sus respectivas características
    -El conjunto de las clasificaciones de los respectivos ejemplos

In [17]:
len(bootstrapped_data.columns)

13

In [18]:
print(bootstrapped_data[12].head(10))

30124    0
22208    1
1966     0
12093    1
5997     1
28716    0
23933    0
13358    0
12782    0
22703    1
Name: 12, dtype: int32

In [19]:
examples, labels = aux_functions.divide_data(bootstrapped_data)

In [20]:
examples.head(10)

       0    1   2   3   4   5   6   7   8   9   10  11
30124  35    0   0  44   3  11   0  11   1   4   1  38
22208  18    0   0  39   5  11   2   2   5   2   0  38
1966    4    0   0  29   3  15   4  11   3   4   1  38
12093   7  118   0  49   3  15   4   9   1   1   1  34
5997    7    0   0  59   3  11   2   2   0   4   1  25
28716  39    0   0  39   3  11   2   2   0   4   1  38
23933  54    0   0  39   3   8   4   0   1   4   0  38
13358  21    0   0  39   3  15   3   9   3   2   0  38
12782  14    0   0  49   6  12   2   9   0   4   1  38
22703  30    0   0  39   1  11   2   3   0   4   1  38

In [21]:
labels.head(10)

30124    0
22208    1
1966     0
12093    1
5997     1
28716    0
23933    0
13358    0
12782    0
22703    1
Name: 12, dtype: int32

Ahora que ya tenemos los datos divididos en ejemplos y en su clasificación, pasaremos a ejecutar el algoritmo que seleccionará un número de columnas dado, de forma aleatoria.

In [22]:
columns_chosen = aux_functions.random_subspace(examples, 0.75)

In [23]:
columns_chosen

[0, 7, 4, 10, 5, 6, 1, 9, 2]

Ahora, vamos a probar el algoritmo de entrenamiento con todo el proceso arriba descrito implementado

In [24]:
forest, indices_chosen = aux_functions.train_forest('adult_train.csv', 100, 0.75, None)

In [25]:
len(forest)

100

In [26]:
len(indices_chosen)

100

In [27]:
indices_chosen[0]

       6   0   2   9   4   10  3   11   1
14693   2  13   0   4   3   1  39  38    0
28536   2  21   0   4   4   1  49  38    0
4977    2  38   0   4   3   1  39  38    0
24548   0  20   0   4   6   0  37  38    0
13115   2  26   0   4   3   0  43  30    0
8806    2  72   0   4   3   1  69  38  111
28318   2  21   0   2   5   1  59  38  118
29936   2  12   0   1   3   0  13  29   42
3465    4   8   0   4   1   1  39  38    0
7924    4  19   0   4   6   1  44  38    0
32190   4  17   0   4   3   1  39  38    0
10081   2   8   0   4   3   1  39  38    0
1537    2  26   0   4   3   1  39  38    0
10204   4  13   0   4   3   0  39  38    0
1715    0  22   0   0   3   0  39  38    0
17152   4   2   0   4   3   1  39  38    0
13505   0  30   0   4   3   1  59  38  115
25583   4   7   0   2   3   0  39  38    0
20407   2  43   0   4   3   1  59  38    0
32106   0  28   0   4   5   1  29  38    0
10136   2  19   0   4   5   1  44  38    0
24344   0  25   0   4   3   0  39  38    0
13436   0  30  33   4   3   0  29  38    0
9783    4  22   0   4   3   1  43  38   71
12480   4   2   0   4   3   0  39  38    0
8435    4   2   0   4   3   1  39  38    0
7490    2  24   0   4   3   1  39  38    0
16727   2  13   0   4   3   1  39  25    0
11751   0  28   0   4   3   0  49  38    0
10323   5  18   0   4   3   1  49  38    0
...    ..  ..  ..  ..  ..  ..  ..  ..  ...
11323   4   1   0   4   5   0  49  38    0
31369   2  34   0   2   3   1  51  38    0
13753   0   7   0   2   0   0  24  38    0
2399    0  17   0   4   3   1  29  38    0
1137    2  18   0   2   0   1  59  38    0
31968   2  26   0   4   1   1  44  38    0
4142    4  11   0   4   6   0  37  38    0
2045    4   0   0   4   5   1   9  38    0
31107   2  10   0   4   3   1  39  38    0
7411    4   6   0   2   3   1  39  38    0
13726   6  29   0   4   3   0  59  38    0
10393   4  30   0   4   5   1  39  38    0
16513   3  58   0   4   5   1  29  38    0
3226    2  41   0   4   1   1  39  38    0
2613    4   2   0   4   3   1  44  38    0
3687    4   7   0   4   3   1  39  25    0
15484   2  19   0   2   3   1  39  38    0
20903   2   6   0   4   3   1  39  38    0
30138   2  19   0   4   3   1  59  38    0
9343    4   3   0   4   3   1  34  38    0
4356    0  33   0   4   0   1  39  38    0
16395   4   6   0   4   3   0  34  38    0
22725   4   6   0   4   3   0  15  38    0
3168    2  14   0   4   3   1  68  38    0
24465   2  25   0   4   3   1  49  38  108
10452   4  14   0   4   1   0  39  38    0
16166   2  34   0   4   3   1  49  38    0
4625    2  30   0   1   3   1  54  35  118
22915   4  10   0   4   3   1  39  38    0
5923    2  25   0   4   3   1  39  38    0

[32561 rows x 9 columns]

In [28]:
indices_chosen[1]

       9    1   7  8   5  6   2  4   3
17060  4    0   5  0   6  2   0  3  39
27446  4    0   9  3   9  4   0  6  39
18175  4    0   5  0  11  2   0  3  39
10826  4    0   5  1  11  4   0  3  39
13695  4  108  11  0  12  2   0  3  39
13142  4    0   5  0   4  2   0  3  55
22338  4    0  11  0  12  2   0  3  39
7396   4    0   2  1  15  4   0  3  29
22023  4    0   3  1  15  0   0  3  44
5130   4    0   2  1   0  0   0  3  49
15180  4    0   7  1   1  4   0  3  93
26681  4    0   9  1  11  6   0  3  21
30777  4    0   0  3  15  4   0  3   7
26869  2    0  12  1   9  4   0  0  39
26011  4    0   9  0  12  2   0  3  37
2788   4    0   9  1  12  4   0  6  49
29458  4    0   2  0   1  2   0  3  34
15035  4  108  13  0   2  2   0  3  68
27893  4    0   0  3  11  4   0  3  34
3692   4    0   2  0  11  2   0  3  39
29421  4    0   9  5   8  2   0  3  19
597    4    0   9  0  14  2  47  5  49
19812  4    0   9  1  11  3   0  3  68
1204   2    0   2  0  15  2   0  3  39
20691  4    0   6  4  11  0   0  3  39
59     4   77   6  0  11  2   0  3  39
31853  4    0   2  3  11  4   0  3  39
3515   4    0   9  1   9  0   0  5  39
10633  4    0  13  0  15  2  17  3  44
12461  4  105   3  1  12  4   0  3  39
...   ..  ...  .. ..  .. ..  .. ..  ..
17714  4    0   9  0   8  2   0  3  39
507    4    0   3  0  15  2   0  3  39
8360   4    0  12  1  11  0   0  3  49
26044  4    0  13  0  11  2   0  3  39
29921  4    0   0  4  11  0   0  6  45
11029  4    0  12  0  15  2   0  3  44
26414  4  118  11  0  12  2   0  4  39
17952  4    0   5  0  11  2   0  3  39
19613  2    0   0  4  11  0   0  3  44
15873  4    0   2  0  11  2   0  3  39
5704   4    0   7  4  11  0   0  5  39
20222  4    0   9  0  12  2   0  1  49
21936  4    0   4  3   0  4   0  3  26
14238  4  118   9  0  14  2   0  4  49
20663  3    0   9  4   9  4   0  3  39
5043   4    0   9  1   9  0   0  6  39
12395  4    0   3  1  15  0   0  3  29
3442   2    0   2  0  15  2   0  3  39
4405   4    0   3  0   9  2   0  3  39
603    4    0   7  0   6  2   0  1  39
19022  4    0   9  0   9  2   0  5   4
6492   4    0   9  0  14  2   0  4  72
14634  4    0   3  4  15  0   0  3  39
27933  4    0   2  1   1  0  45  3  45
22739  4    0   3  0   9  2   0  3  39
21007  4    0   0  4  15  0   0  3  42
16019  4    0   9  1   8  0   0  3  76
12064  4    0   3  0  11  2   0  4  39
2250   4    0   3  4   9  0   0  3  47
15122  4    0   9  0  10  2   0  5  34

[32561 rows x 9 columns]

In [29]:
forest_predictions, df_predictions = aux_functions.forest_predictions('adult_test.csv', forest, indices_chosen)

In [30]:
df_predictions.head(20)

,tree_0,tree_1,tree_2,tree_3,tree_4,tree_5,tree_6,tree_7,tree_8,tree_9,...,tree_90,tree_91,tree_92,tree_93,tree_94,tree_95,tree_96,tree_97,tree_98,tree_99
0,0,0,0,0,0,0,0,1,0,1,...,0,0,0,1,0,0,0,0,0,0
1,1,0,0,0,0,0,0,1,0,1,...,0,1,1,0,0,0,0,0,0,0
2,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,1
3,0,0,0,0,0,0,0,1,0,1,...,0,1,1,0,0,0,0,1,1,1
4,1,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
5,1,1,0,1,0,1,0,0,0,1,...,0,0,1,0,0,0,0,0,0,0
6,0,0,0,1,0,0,0,0,1,1,...,0,0,0,1,0,0,0,0,0,0
7,0,0,0,1,0,0,0,0,0,1,...,0,1,0,0,0,0,0,1,0,0
8,1,0,0,1,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,1,0,0,1,1,...,0,1,1,0,0,0,0,0,0,0
10,0,0,0,0,0,1,0,1,0,1,...,0,1,1,0,0,0,0,1,1,0
11,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
12,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
13,0,0,0,1,0,1,0,0,0,1,...,0,1,1,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,1,0,1,...,0,1,1,0,0,0,0,1,1,1
15,1,0,0,0,0,0,0,1,0,1,...,0,1,1,0,0,0,0,0,0,1
16,1,0,0,1,0,0,0,1,0,1,...,0,0,0,0,1,0,0,0,0,0
17,1,0,0,0,0,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,1
18,1,0,0,0,0,0,0,0,0,1,...,0,0,0,0,0,0,0,0,0,0
19,0,0,0,0,0,0,0,0,0,1,...,0,1,1,0,0,0,0,0,0,1

In [31]:
forest_predictions

0        0
1        0
2        0
3        0
4        0
5        0
6        0
7        0
8        0
9        0
10       0
11       0
12       0
13       0
14       0
15       0
16       0
17       0
18       0
19       0
20       0
21       0
22       0
23       0
24       0
25       0
26       0
27       0
28       0
29       0
        ..
16251    0
16252    0
16253    0
16254    0
16255    0
16256    0
16257    0
16258    0
16259    0
16260    0
16261    0
16262    0
16263    0
16264    0
16265    0
16266    0
16267    0
16268    0
16269    0
16270    0
16271    0
16272    0
16273    0
16274    0
16275    0
16276    0
16277    0
16278    0
16279    0
16280    0
Name: 0, Length: 16281, dtype: int32

In [32]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(forest[0], out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

In [ ]:
with open("tree.txt", "w") as f:
    f = tree.export_graphviz(forest[0], out_file=f)

In [ ]:
with open("tree1.txt", "w") as f:
    f = tree.export_graphviz(forest[1], out_file=f)

In [ ]:
tree0 = forest[0]
tree1 = forest[1]
tree2 = forest[2]
tree3 = forest[3]
processed_data = aux_functions.load_and_process_data('adult_test')
examples, labels = aux_functions.divide_data(processed_data)

In [ ]:
print(tree0)

In [ ]:
tree0.predict(examples)

In [33]:
test_data = aux_functions.load_and_process_data('adult_test.csv')
examples_test, labels_test = aux_functions.divide_data(test_data)

In [34]:
aux_functions.calcularAccuracy(labels_test, forest_predictions)

(0.7637737239727289, 0.5)