Antes de nada, debemos importar todas las librerias y funciones necesarias para ejecutar el algoritmo

In [11]:
import aux_functions
import sklearn
import numpy as np
import pandas as pd
from sklearn import tree
from sklearn import preprocessing

Con todo lo necesario ya importado, podemos pasar a procesar y codificar convenientemente los datos:

In [6]:
training_df = pd.read_csv('adult_train.csv', header=None,
                           names=None)

In [9]:
training_df.head(10)

,0,1,2,3,4,5,6,7,8,9,10,11,12
0,39,2174,0,40,State-gov,Bachelors,Never-married,Adm-clerical,Not-in-family,White,Male,United-States,less_than_50K
1,50,0,0,13,Self-emp-not-inc,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,less_than_50K
2,38,0,0,40,Private,HS-grad,Divorced,Handlers-cleaners,Not-in-family,White,Male,United-States,less_than_50K
3,53,0,0,40,Private,11th,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,United-States,less_than_50K
4,28,0,0,40,Private,Bachelors,Married-civ-spouse,Prof-specialty,Wife,Black,Female,Cuba,less_than_50K
5,37,0,0,40,Private,Masters,Married-civ-spouse,Exec-managerial,Wife,White,Female,United-States,less_than_50K
6,49,0,0,16,Private,9th,Married-spouse-absent,Other-service,Not-in-family,Black,Female,Jamaica,less_than_50K
7,52,0,0,45,Self-emp-not-inc,HS-grad,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,more_than_50K
8,31,14084,0,50,Private,Masters,Never-married,Prof-specialty,Not-in-family,White,Female,United-States,more_than_50K
9,42,5178,0,40,Private,Bachelors,Married-civ-spouse,Exec-managerial,Husband,White,Male,United-States,more_than_50K

In [13]:
training_df[1].dtype

dtype('int64')

In [2]:
train_codificado, test_codificado = aux_functions.load_and_process_data('adult_train.csv','adult_test.csv')

In [5]:
train_codificado

       0    1   2   3   4   5   6   7   8   9   10  11  12
0      22   27   0  39   6   9   4   0   1   4   1  38   0
1      33    0   0  12   5   9   2   3   0   4   1  38   0
2      21    0   0  39   3  11   0   5   1   4   1  38   0
3      36    0   0  39   3   1   2   5   0   2   1  38   0
4      11    0   0  39   3   9   2   9   5   2   0   4   0
5      20    0   0  39   3  12   2   3   5   4   0  38   0
6      32    0   0  15   3   6   3   7   1   2   0  22   0
7      35    0   0  44   5  11   2   3   0   4   1  38   1
8      14  109   0  49   3  12   4   9   1   4   0  38   1
9      25   81   0  39   3   9   2   3   0   4   1  38   1
10     20    0   0  78   3  15   2   3   0   2   1  38   1
11     13    0   0  39   6   9   2   9   0   1   1  18   1
12      6    0   0  29   3   9   4   0   3   4   0  38   0
13     15    0   0  49   3   7   4  11   1   2   1  38   0
14     23    0   0  39   3   8   2   2   0   1   1  38   1
15     17    0   0  44   3   5   2  13   0   0   1  25   0
16      8    0   0  34   5  11   4   4   3   4   1  38   0
17     15    0   0  39   3  11   4   6   4   4   1  38   0
18     21    0   0  49   3   1   2  11   0   4   1  38   0
19     26    0   0  44   5  12   0   3   4   4   0  38   1
20     23    0   0  59   3  10   2   9   0   4   1  38   1
21     37    0   0  19   3  11   5   7   4   2   0  38   0
22     18    0   0  39   0   6   2   4   0   2   1  38   0
23     26    0  59  39   3   1   2  13   0   4   1  38   0
24     42    0   0  39   3  11   0  12   4   4   0  38   0
25     39    0   0  39   1   9   2  12   0   4   1  38   1
26      2    0   0  39   3  11   4   2   3   4   1  38   0
27     37    0   0  59   3  15   2   9   0   1   1  34   1
28     22    0   0  78   3  11   0   3   1   4   1  38   0
29     32    0   0  39   3  11   2   2   0   4   1  38   0
...    ..  ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ..
32531  13    0   0  95   3   9   4   9   1   1   0  38   0
32532  17    0   0  59   3  10   2   9   0   4   1  38   1
32533  37    0   0  49   3   9   2   3   0   1   1  23   1
32534  20    0   0  38   3  15   0   0   4   4   0  38   0
32535   5    0   0  34   3   2   4  10   3   2   1  38   0
32536  17    0   0  54   3   9   4   3   1   4   0  38   1
32537  13    0   0  45   3  11   4   2   1   2   1  38   0
32538  21  111   0  44   3   9   0   9   4   2   0  38   1
32539  54    0   0   9   3  10   2   9   0   4   1  38   1
32540  28    0   0  39   6  11   5   0   3   4   0  38   0
32541  24    0   0  31   3  11   5   9   1   2   0  38   0
32542  55    0   0  24   3  11   2   9   0   4   1  38   0
32543  28    0   0  47   1   7   0   9   4   4   0  38   0
32544  14    0   0  29   3  12   0   7   1   3   0  38   0
32545  22    0   0  19   1   7   2   0   5   4   0  38   1
32546  20    0   0  39   3   7   0  12   1   4   0  38   0
32547  26    0   0  39   3  11   2   6   0   4   1  25   0
32548  48    7   0  59   5  14   4   9   1   4   1  38   0
32549  26    0   0  39   6  15   0   0   2   4   0  38   0
32550  26    0   0  49   5  15   2   2   0   4   1  38   0
32551  15    0   0  39   3   0   2   5   0   0   1  38   0
32552  26    0   0  44   3   8   2  11   0   4   1  38   0
32553  15    0   0  10   3  12   4  12   1   1   1  35   0
32554  36    0   0  39   3  12   2   3   0   4   1  38   1
32555   5    0   0  39   3  15   4  10   1   4   1  38   0
32556  10    0   0  37   3   7   2  12   5   4   0  38   0
32557  23    0   0  39   3  11   2   6   0   4   1  38   1
32558  41    0   0  39   3  11   6   0   4   4   0  38   0
32559   5    0   0  19   3  11   4   0   3   4   1  38   0
32560  35  112   0  39   4  11   2   3   5   4   0  38   1

[32561 rows x 13 columns]

In [3]:
columnas = aux_functions.random_subspace(processed_data, 0.5)
columnas

[0, 10, 7, 6, 8, 3]

In [4]:
columnas[4]

8

In [5]:
#aux_functions.select_columns(processed_data, columnas[4])

In [6]:
len(processed_data)

32561

In [7]:
processed_data.tail(10)

       0    1   2   3   4   5   6   7   8   9   10  11  12
32551  15    0   0  39   3   0   2   5   0   0   1  38   0
32552  26    0   0  44   3   8   2  11   0   4   1  38   0
32553  15    0   0  10   3  12   4  12   1   1   1  35   0
32554  36    0   0  39   3  12   2   3   0   4   1  38   1
32555   5    0   0  39   3  15   4  10   1   4   1  38   0
32556  10    0   0  37   3   7   2  12   5   4   0  38   0
32557  23    0   0  39   3  11   2   6   0   4   1  38   1
32558  41    0   0  39   3  11   6   0   4   4   0  38   0
32559   5    0   0  19   3  11   4   0   3   4   1  38   0
32560  35  108   0  39   4  11   2   3   5   4   0  38   1

In [8]:
processed_data.columns

Int64Index([0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12], dtype='int64')

In [9]:
unique_unprocessed_values = np.unique('adult_train.csv')
print(unique_unprocessed_values)

['adult_train.csv']

In [10]:
bootstrap_indices = np.random.randint(low=0, high=len(processed_data), size=len(processed_data))
print(bootstrap_indices)

[ 9602 13103 25145 ...  7265 26102 16471]

In [11]:
df_bootstrapped = processed_data.iloc[bootstrap_indices]
df_bootstrapped.head(10)
len(df_bootstrapped)

32561

In [12]:
unique_values = np.unique(df_bootstrapped)
len(unique_values)

118

Con los datos ya procesados y codificados, podemos pasar a probar el algoritmo de Bootstrapping implementado

In [13]:
bootstrapped_data = aux_functions.bootstrapping(processed_data)
#print('Aquí podemos ver los datos tras ser modificados por el algoritmo de Bootstrapping')
#print('El tamaño del conjunto de datos es: {}'.format(len(bootstrapped_data)))
#bootstrapped_data.head(10)

In [14]:
unique_values = np.unique(bootstrapped_data)

In [15]:
potential_splits = unique_values

In [16]:
print(potential_splits)

[  0   1   2   3   4   5   6   7   8   9  10  11  12  13  14  15  16  17
  18  19  20  21  22  23  24  25  26  27  28  29  30  31  32  33  34  35
  36  37  38  39  40  41  42  43  44  45  46  47  48  49  50  51  52  53
  54  55  56  57  58  59  60  61  62  63  64  65  66  67  68  69  70  71
  72  73  74  75  76  77  78  79  80  81  82  83  84  85  86  87  88  89
  90  91  92  93  94  95  96  97  98  99 100 101 102 103 104 105 106 107
 108 109 110 111 112 113 114 115 116 117 118]

Ahora, vamos a probar el algoritmo de división de datos, para tener dos conjuntos de datos con los que trabajar, que serán:
    -El conjunto de los ejemplos con sus respectivas características
    -El conjunto de las clasificaciones de los respectivos ejemplos

In [17]:
len(bootstrapped_data.columns)

13

In [18]:
print(bootstrapped_data[12].head(10))

30124    0
22208    1
1966     0
12093    1
5997     1
28716    0
23933    0
13358    0
12782    0
22703    1
Name: 12, dtype: int32

In [19]:
examples, labels = aux_functions.divide_data(bootstrapped_data)

In [20]:
examples.head(10)

       0    1   2   3   4   5   6   7   8   9   10  11
30124  35    0   0  44   3  11   0  11   1   4   1  38
22208  18    0   0  39   5  11   2   2   5   2   0  38
1966    4    0   0  29   3  15   4  11   3   4   1  38
12093   7  118   0  49   3  15   4   9   1   1   1  34
5997    7    0   0  59   3  11   2   2   0   4   1  25
28716  39    0   0  39   3  11   2   2   0   4   1  38
23933  54    0   0  39   3   8   4   0   1   4   0  38
13358  21    0   0  39   3  15   3   9   3   2   0  38
12782  14    0   0  49   6  12   2   9   0   4   1  38
22703  30    0   0  39   1  11   2   3   0   4   1  38

In [21]:
labels.head(10)

30124    0
22208    1
1966     0
12093    1
5997     1
28716    0
23933    0
13358    0
12782    0
22703    1
Name: 12, dtype: int32

Ahora que ya tenemos los datos divididos en ejemplos y en su clasificación, pasaremos a ejecutar el algoritmo que seleccionará un número de columnas dado, de forma aleatoria.

In [22]:
columns_chosen = aux_functions.random_subspace(examples, 0.75)

In [23]:
columns_chosen

[0, 7, 4, 10, 5, 6, 1, 9, 2]

Ahora, vamos a probar el algoritmo de entrenamiento con todo el proceso arriba descrito implementado

In [11]:
forest, indices_chosen = aux_functions.train_forest('adult_train.csv', 25, 0.8, None, le)

In [4]:
len(forest)

25

In [5]:
len(indices_chosen)

25

In [6]:
indices_chosen[0]

[1, 2, 0, 5, 4, 11, 9, 7, 8]

In [7]:
indices_chosen[1]

[3, 2, 10, 6, 1, 4, 9, 7, 8]

In [12]:
forest_predictions, df_predictions = aux_functions.forest_predictions('adult_test.csv', forest, indices_chosen, le)

In [13]:
df_predictions.head(10)

,tree_0,tree_1,tree_2,tree_3,tree_4,tree_5,tree_6,tree_7,tree_8,tree_9,...,tree_15,tree_16,tree_17,tree_18,tree_19,tree_20,tree_21,tree_22,tree_23,tree_24
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
6,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0
7,0,0,1,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,1
8,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
9,0,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,0,0,0,0

In [14]:
forest_predictions.head(10)

0    0
1    0
2    0
3    0
4    0
5    0
6    0
7    0
8    0
9    0
Name: 0, dtype: int32

In [32]:
from sklearn.externals.six import StringIO  
from IPython.display import Image  
from sklearn.tree import export_graphviz
import pydotplus

dot_data = StringIO()

export_graphviz(forest[0], out_file=dot_data,  
                filled=True, rounded=True,
                special_characters=True)

graph = pydotplus.graph_from_dot_data(dot_data.getvalue())  
Image(graph.create_png())

ModuleNotFoundError: No module named 'pydotplus'

In [ ]:
with open("tree.txt", "w") as f:
    f = tree.export_graphviz(forest[0], out_file=f)

In [ ]:
with open("tree1.txt", "w") as f:
    f = tree.export_graphviz(forest[1], out_file=f)

In [ ]:
tree0 = forest[0]
tree1 = forest[1]
tree2 = forest[2]
tree3 = forest[3]
processed_data = aux_functions.load_and_process_data('adult_test')
examples, labels = aux_functions.divide_data(processed_data)

In [ ]:
print(tree0)

In [ ]:
tree0.predict(examples)

In [15]:
test_data = aux_functions.load_and_process_data('adult_test.csv', le)
examples_test, labels_test = aux_functions.divide_data(test_data)

In [16]:
aux_functions.calcularAccuracy(labels_test, forest_predictions)

(0.7637737239727289, 0.5)

In [76]:
training_set, codificadores = aux_functions.load_and_process_data('adult_train.csv')

In [55]:
training_set.shape[1]

13

In [3]:
codificadores

[LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder(),
 LabelEncoder()]

In [48]:
codificadores_df = pd.DataFrame(codificadores)
codificadores_df

                 0
0   LabelEncoder()
1   LabelEncoder()
2   LabelEncoder()
3   LabelEncoder()
4   LabelEncoder()
5   LabelEncoder()
6   LabelEncoder()
7   LabelEncoder()
8   LabelEncoder()
9   LabelEncoder()
10  LabelEncoder()
11  LabelEncoder()
12  LabelEncoder()

In [52]:
nuevo_ejemplo = ['vhigh', 'vhigh', '3', 'more', 'big', 'high']
# Codificamos los valores de los atributos
nuevo_ejemplo_codif = [le.transform([valor])
                       for valor, le in zip(nuevo_ejemplo, codificadores)]
nuevo_ejemplo_codif = numpy.reshape(nuevo_ejemplo_codif, (1, -1))
print(nuevo_ejemplo_codif)
# Transformamos los atributos a codificación binaria
nuevo_ejemplo_nb = ohe.transform(nuevo_ejemplo_codif)
print(nuevo_ejemplo_nb)
# Predecimos la clase
clase_nuevo_ejemplo = clasif_NB.predict(nuevo_ejemplo_nb)
print(codificadores[-1].inverse_transform(clase_nuevo_ejemplo))

ValueError: y contains previously unseen labels: ['vhigh']

In [84]:
training_set = pd.read_csv('adult_train.csv', header=None,
                           names=None)
test_set = pd.read_csv('adult_test.csv', header=None,
                           names=None)

In [85]:
le = preprocessing.LabelEncoder()

In [86]:
whole_set = training_set.append(test_set)

In [89]:
le.fit(whole_set.values)

ValueError: bad input shape (48842, 13)

In [92]:
def load_and_process_data(training_set, test_set):

    training_df = pd.read_csv(training_set, header=None,
                           names=None)
    test_df = pd.read_csv(test_set, header=None,
                           names=None)
    whole_df = training_df.append(test_df)
    #print(datosSinProcesar.shape)  # Número de filas y columnas
    #datosSinProcesar.head(10)
    
    codificadores = []
    datosProcesados = pd.DataFrame()
    for variable, valores in whole_df.iteritems():
        le = preprocessing.LabelEncoder()
        le.fit(np.unique(valores))
        codificadores.append(le)

    for i in (range(0, len(codificadores))):
        for j in (range(0, len(training_df))):
            datosProcesados[i] = codificadores[i].transform(valores)
    #examples_codificado.head(10)
    return datosProcesados, codificadores

In [93]:
training_processed_df = load_and_process_data('adult_train.csv', 'adult_test.csv')

ValueError: y contains previously unseen labels: 'less_than_50K'

In [65]:
datosSinProcesar[[1]

SyntaxError: unexpected EOF while parsing (<ipython-input-65-0b9153ceec23>, line 1)

In [77]:
len(codificadores)

13

In [78]:
codificadores[0]

LabelEncoder()

In [81]:
def load_process_and_code_data(nombreArchivo, codificadores):

    datosSinProcesar = pd.read_csv(nombreArchivo, header=None,
                           names=None)

    datosProcesados = pd.DataFrame()
    for i in(range(0, len(codificadores))):
        for variable, valores in datosSinProcesar.iteritems():
            le = codificadores[i]
            datosProcesados[variable] = le.transform(valores)
    return datosProcesados

In [80]:
test_set = load_process_and_code_data('adult_test.csv', codificadores)

ValueError: y contains previously unseen labels: [89]

0        39
1        50
2        38
3        53
4        28
5        37
6        49
7        52
8        31
9        42
10       37
11       30
12       23
13       32
14       40
15       34
16       25
17       32
18       38
19       43
20       40
21       54
22       35
23       43
24       59
25       56
26       19
27       54
28       39
29       49
         ..
32531    30
32532    34
32533    54
32534    37
32535    22
32536    34
32537    30
32538    38
32539    71
32540    45
32541    41
32542    72
32543    45
32544    31
32545    39
32546    37
32547    43
32548    65
32549    43
32550    43
32551    32
32552    43
32553    32
32554    53
32555    22
32556    27
32557    40
32558    58
32559    22
32560    52
Name: 0, Length: 32561, dtype: int64

In [30]:
datosSinProcesar[[0,5]]

        0             5
0      39     Bachelors
1      50     Bachelors
2      38       HS-grad
3      53          11th
4      28     Bachelors
5      37       Masters
6      49           9th
7      52       HS-grad
8      31       Masters
9      42     Bachelors
10     37  Some-college
11     30     Bachelors
12     23     Bachelors
13     32    Assoc-acdm
14     40     Assoc-voc
15     34       7th-8th
16     25       HS-grad
17     32       HS-grad
18     38          11th
19     43       Masters
20     40     Doctorate
21     54       HS-grad
22     35           9th
23     43          11th
24     59       HS-grad
25     56     Bachelors
26     19       HS-grad
27     54  Some-college
28     39       HS-grad
29     49       HS-grad
...    ..           ...
32531  30     Bachelors
32532  34     Doctorate
32533  54     Bachelors
32534  37  Some-college
32535  22          12th
32536  34     Bachelors
32537  30       HS-grad
32538  38     Bachelors
32539  71     Doctorate
32540  45       HS-grad
32541  41       HS-grad
32542  72       HS-grad
32543  45    Assoc-acdm
32544  31       Masters
32545  39    Assoc-acdm
32546  37    Assoc-acdm
32547  43       HS-grad
32548  65   Prof-school
32549  43  Some-college
32550  43  Some-college
32551  32          10th
32552  43     Assoc-voc
32553  32       Masters
32554  53       Masters
32555  22  Some-college
32556  27    Assoc-acdm
32557  40       HS-grad
32558  58       HS-grad
32559  22       HS-grad
32560  52       HS-grad

[32561 rows x 2 columns]

In [24]:
training_set.head(25)

    0    1   2   3   4   5   6   7   8   9   10  11  12
0   22   25   0  39   6   9   4   0   1   4   1  38   0
1   33    0   0  12   5   9   2   3   0   4   1  38   0
2   21    0   0  39   3  11   0   5   1   4   1  38   0
3   36    0   0  39   3   1   2   5   0   2   1  38   0
4   11    0   0  39   3   9   2   9   5   2   0   4   0
5   20    0   0  39   3  12   2   3   5   4   0  38   0
6   32    0   0  15   3   6   3   7   1   2   0  22   0
7   35    0   0  44   5  11   2   3   0   4   1  38   1
8   14  105   0  49   3  12   4   9   1   4   0  38   1
9   25   79   0  39   3   9   2   3   0   4   1  38   1
10  20    0   0  76   3  15   2   3   0   2   1  38   1
11  13    0   0  39   6   9   2   9   0   1   1  18   1
12   6    0   0  29   3   9   4   0   3   4   0  38   0
13  15    0   0  49   3   7   4  11   1   2   1  38   0
14  23    0   0  39   3   8   2   2   0   1   1  38   1
15  17    0   0  44   3   5   2  13   0   0   1  25   0
16   8    0   0  34   5  11   4   4   3   4   1  38   0
17  15    0   0  39   3  11   4   6   4   4   1  38   0
18  21    0   0  49   3   1   2  11   0   4   1  38   0
19  26    0   0  44   5  12   0   3   4   4   0  38   1
20  23    0   0  59   3  10   2   9   0   4   1  38   1
21  37    0   0  19   3  11   5   7   4   2   0  38   0
22  18    0   0  39   0   6   2   4   0   2   1  38   0
23  26    0  54  39   3   1   2  13   0   4   1  38   0
24  42    0   0  39   3  11   0  12   4   4   0  38   0

In [25]:
test_set.head(25)

    0   1   2   3   4   5   6   7   8   9   10  11  12
0    8   0   0  39   3   1   4   6   3   2   1  37   0
1   21   0   0  49   3  11   2   4   0   4   1  37   0
2   11   0   0  39   1   7   2  10   0   4   1  37   1
3   27  90   0  39   3  15   2   6   0   2   1  37   1
4    1   0   0  29   3  15   4   9   3   4   0  37   0
5   17   0   0  29   3   0   4   7   1   4   1  37   0
6   12   0   0  39   3  11   4   9   4   2   1  37   0
7   46  46   0  31   5  14   2   9   0   4   1  37   1
8    7   0   0  39   3  15   4   7   4   4   0  37   0
9   38   0   0   9   3   5   2   2   0   4   1  37   0
10  48  79   0  39   3  11   2   6   0   4   1  37   1
11  19   0   0  39   0   9   2   0   0   4   1  37   0
12   9   0   0  38   3  11   4   0   1   4   0  37   0
13  41   0   0  34   3  11   2   9   0   4   1  37   0
14  31  46   0  47   3  11   2   6   0   4   1  37   1
15  26   0   0  49   3  12   2   3   0   4   1  37   1
16   3   0   0  24   6  15   4   7   3   4   1  37   0
17  26   0   0  29   3  11   2   0   5   4   0  37   0
18  20   0   0  19   3  11   6   6   4   4   0  37   0
19  23   0   0  44   3  10   2   9   0   1   1  37   1
20  17   0   0  46   3   9   2  12   0   4   1  37   1
21  17   0   0  34   3  15   4   7   3   2   0  37   0
22  55   0   0   5   3   5   0   9   1   4   0  37   0
23   8   0   0  42   3   9   4   9   1   4   1  27   0
24   8   0   0  39   3   9   2   9   0   4   1  37   0

In [12]:
train_codificado, test_codificado = aux_functions.load_and_process_data('adult_train.csv', 'adult_test.csv')

In [13]:
train_codificado.head(10)

   0      1   2   3   4   5   6   7   8   9   10  11  12
0  39   2174   0  40   6   9   4   0   1   4   1  38   0
1  50      0   0  13   5   9   2   3   0   4   1  38   0
2  38      0   0  40   3  11   0   5   1   4   1  38   0
3  53      0   0  40   3   1   2   5   0   2   1  38   0
4  28      0   0  40   3   9   2   9   5   2   0   4   0
5  37      0   0  40   3  12   2   3   5   4   0  38   0
6  49      0   0  16   3   6   3   7   1   2   0  22   0
7  52      0   0  45   5  11   2   3   0   4   1  38   1
8  31  14084   0  50   3  12   4   9   1   4   0  38   1
9  42   5178   0  40   3   9   2   3   0   4   1  38   1

In [14]:
data_divided, labels = aux_functions.divide_data(train_codificado)
aux = aux_functions.random_subspace(data_divided, 0.8)
aux

[2, 3, 4, 5, 6, 7, 8, 9, 10]

In [15]:
aux_functions.meta_algorithm('adult_train.csv', 'adult_test.csv', 50, 0.8, None)

Para el modelo con parámetros:
 Conjunto de entrenamiento: adult_train.csv
 Conjunto de prueba: adult_test.csv
 Árboles a entrenar: 50
 Porcentaje de columnas a seleccionar: 0.8
 Máxima profundidad de los árboles: None
Hemos conseguido una tasa de aciertos del: 0.8077513666236718
Y hemos conseguido una tasa de aciertos balanceada del: 0.5975735289966484

In [16]:
tasa_acierto

NameError: name 'tasa_acierto' is not defined